*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --FondoPrimarioBoton: violet;
    --FondoHoverBoton: aqua;
    --ColorTitulos: red;
}
body{
    background: #f3f3f3;
}
.section{
    display: flex;
    width: 100vh;
    margin: 30px auto;
}
.articulos{
    display: inline-block;
    width: 350px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20;
}
.titulo{
    font-family: 'relative', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    color: var(--ColorTitulos);
}
.parrafo{
    font-family: 'relative', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 30px;
}
.boton1{
    display: block;
    width: 200px;
    text-align: center;
    background-color: var(--FondoPrimarioBoton);
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
}
.boton2{
    display: block;
    width: 200px;
    text-align: center;
    background-color: var(--FondoPrimarioBoton);
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
}
.boton3{
    display: block;
    width: 200px;
    text-align: center;
    background-color: var(--FondoPrimarioBoton);
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
}
.boton1:hover{
    background: var(--FondoHoverBoton);
    outline-color: #ffffff;
}
.boton2:hover{
    background:  var(--FondoHoverBoton);
    outline-color: #ffffff;
}
.boton3:hover{
    background:  var(--FondoHoverBoton);
    outline-color: #ffffff;
}